.auth-container {
  background-image: url(../../assets/plantifyBackground.svg);
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
}

#login-signup {
  box-shadow: 5px 5px 5px 5px black;
  max-width: 300px;
  margin: auto auto;
  border-radius: 5px;
  border: 2px solid white;
  background-color: white;
}

#login-signup-button {
  background-color: seagreen;
  color: white;
}

#login-signup-form {
  height: 250px;
}

#login-signup-grid {
  margin-top: 50px;
}

#toggle-button {
  color: seagreen;
  border: 2px solid seagreen;
  background-color: rgba(255, 255, 255, 0.5);
}
